---
layout: default
---
<a href="https://donghoon.io/blog/" class="text-slate-600 hover:text-slate-900 text-md flex items-center gap-1 mb-4">
    ← Back
</a>
<article class="post-content">
    <div class="my-12">
        <span class="text-sm text-slate-500">{{ page.date | date: "%Y년 %-m월 %-d일" }}</span>
        <h1 class="font-display text-2xl md:text-3xl font-bold text-slate-900" style="margin-top: .2em !important;">
            {{ page.title }}
        </h1>
    </div>
    <div class="text-md text-slate-800 leading-relaxed space-y-5">
        {{ content }}
    </div>
</article>